{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'hello_and_welcome' | trans }}</h1>
    <p>{{ 'page_not_found' | trans }}</p>
    <p>
        {{ 'could_not_locate' | trans }} <a href="{{ path('my_other') }}">{{ 'return_homepage' | trans }}</a>.
    </p>
{% endblock %}