<div class="example-wrapper">
    <h1>{{ 'hello_and_welcome' | trans }}</h1>
    <p>{{ 'page_not_found' | trans }}</p>
    <p>
        {{ app.request.locale }}
        {{ 'could_not_locate' | trans }} <a href="{{ path('my_other') }}">{{ 'return_homepage' | trans }}</a>.
    </p>
</div>